h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
    font-style: italic;
    color: rgb(0, 0, 0) 
    
}

.background-image {

    width: 600px;
    height: auto;
    margin-bottom: 32px;
}

.image-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

body {
    background-image: linear-gradient(#B71C1C,#FF6D00);
    background-size: cover;
    min-height: 100%; 
    background-repeat: no-repeat;
    
}


.table-box {
    position: fixed;
    bottom: 150px;
    left: 32px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    font-size: 23px; 
    border: 1px solid black;
}

td {
  
    border: 1px solid black;
    width:120px;
    font-size: 20px;
}

.vaxjo {
    max-width: 150px;
    max-height: 150px;
    width: 20%;
    height: 30%;
    margin-top: 32px;
    margin-right: 16px;

}

.team-logos{
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 38%;
    top: 62%;
}

.HV71{ 
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: 30%;
    margin-top: 32px;
    margin-left: 16px;
}
h3{
    font-size: 50px;
}

h6{
    font-size: 50px;
    position: fixed;
    bottom: 40%;
    left: 7%;
}
h5{
    font-size: 60px;
    position: fixed;
    right: 44%;
    top: 42%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4{
    font-size: 25px;
    position: fixed;
    right: 47%;
    top: 57%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.Fakta{
    font-size: 45px;
    position: fixed;
    top: 8%;
    left: 7%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fakta-text{
    font-size: 25px;
    position: fixed;
    top: 20%;
    left: 1%;
    font-family: 'Times New Roman', Times, serif
}
.ticket{
    font-size: 20px;
    position: fixed;
    top: 77%;
    right:47%;
}
.watch{
    font-size: 20px;
    position: fixed;
    top: 80%;
    right: 46%;  
}
.SHL{
    font-size: 20px;
    position: fixed;
    top: 83%;
    right:46%;
}
footer {
    margin-left: -8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #7B1FA2,#26C6DA );
    color: white;
    height: 100px;
}
.tele{
    position: fixed;
    left: 760px;
    bottom: 13px;
}
.nummer{
    position: fixed;
    left: 44%;
    bottom: 13px;
}
.Email{
    position: fixed;
    left: 52%;
    bottom: 13px;
}
.Mail{
    position: fixed;
    left: 58%;
    bottom: 13px;
}
.kontakt{
    position: fixed;
    left: 32%;
    bottom: 13px;
}

 .Poängliga {
    bottom: 18%;
    right: 40%;  
 }

 .Skytteliga {
    bottom: 15%;
    right: 10%;
    transition: transform .2s; /* Animation */
    }
.Skytteliga:hover{
    transform: scale(1.5);
}

.heading {
    font-size: 40px;
    margin-bottom: 16px;
    margin-top: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center
}

.table-columns {
    display: flex;
    flex-direction:column;
    position: fixed;
    bottom: 150px;
    right: 2%;
    text-align: center;
}

.game-tab{
    position:fixed;
    right: 37%;
    bottom: 44%;
}
.match-tab{
    position: fixed;
    right: 60%;
    bottom: 44%;
    margin-top: 100px;

}
.hest {
    margin-top: 25%;
}
button {
    background-color: #26C6DA;
    border:none;
    font-size: 16px;
}

button:hover {
    background-color: #00C853;
    line-height: 20px; 
    border: none;
    transform: scale(1.2);
    font-size: 18px;
    transition: transform .5s;
}
.background-image:hover{
    transform: scale(1.2);
    transition: transform 1.2s; 
}

h5:hover{
    transform: scale(1.2);
    transition: transform .2s;
}
footer:hover{
    transform: scale(1.2);
    transition: transform .2s;  
}

.team-picture {
    width: 100px;
    height: 100px;
}

.picture1 {
    widows: 100px;
    height: 100px;
    background-image: url()
}


